{% extends 'base.html' %}

{%block title%}Приюты{%endblock%}

{% block content %}
<div style="text-align:center">
    <h2 class="title">
        Приюты
    </h2>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form action="{% url 'shelterDog' %}" method="get" class="d-flex">
                <input name="q" type="text" class="form-control me-2" placeholder="Название приюта">
                <a href="{% url 'shelterDog' %}" class="btn button">Все</a>
            </form>
        </div>
    </div>

    <div class="row">
        {% for item in shelters %}
        <div class="col-4 mt-4">
            <div class="card" id="borderCard" style="width: *25rem; height: 430px;">
                <div class="media">
                    {% if item.photo %}
                    <img src="{{ item.photo.url }}"  height="250" width="*397" class="card-img-top">
                    {% endif %}
                </div>
                <div class="card-body">
                    <h5 class="card-title name">{{ item.name }}</h5>
                    <p class="card-text">{{ item.address }}</p>
                    <a href="{{ item.get_absolute_url }}" class="btn button">Читать</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}