{% extends 'base.html' %}

{%block title%}DogHome| {{ dog_item.name }}{%endblock%}


{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col md-5">
            <div class="media">
                <img class="custom-border" src="{{ dog_item.photo.url }}" width="600" height="600">
            </div>
        </div>

        <div class="col-5 md-3">
            <div class="date">
                <h5 class="name">{{ dog_item.name }}</h5>
            </div>
            <div class="date">
                <p>Пол: {{ dog_item.get_gender_display }}</p>
            </div>
            <div class="date">
                <p>Вес: {{ dog_item.weight }}кг</p>
            </div>
            <div class="date">
                <p>Рост: {{ dog_item.height }}см</p>
            </div>
            <div class="date">
                <p>Описание: {{ dog_item.description }}</p>
            </div>
            <div class="date">
                <p>Был хозяин: {{ dog_item.get_owner_display}}</p>
            </div>
            <div class="date">
                <p>Возраст: {{ dog_item.age }}</p>
            </div>
            <div class="date">
                <p>Окрас: {{ dog_item.color }}</p>
            </div>
            <div class="date">
                <p>Порода: {{ dog_item.breed }}</p>
            </div>
            <div class="date">
                <p>Здоровье: {{ dog_item.health }}</p>
            </div>
            <div class="date">
                <p>Приют: {{ dog_item.shelter }}</p>
            </div>
        </div>
    </div>
</div>


{% endblock %}