{% extends 'base.html' %}

{%block title%}DogHome | {{ shelters.name }}{%endblock%}


{% block content %}
<div class="container mt-4">
    <div class="row align-items-center">
        <div class="col-md-6">
            <div class="row text-center">
                <div class="col-md-12">
                    <div class="media">
                        <img src="{{ shelters.photo.url }}" width="600" height="300" class="img-fluid ml-3 custom-border">
                    </div>
                </div>

                {% for photo in shelter_photos %}
                <div class="col-md-4">
                    <img  style="width: 12em; height: 8em;" src="{{ photo.image.url }}" class="img-thumbnail">
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-6">
            <div class="col-12 md-3">
                <div class="date">
                    <h5 class="name">{{ shelters.name }}</h5>
                </div>
                <div class="date">
                    <p>Год создания: {{ shelters.year_of_creation|date:"Y"}}</p>
                </div>
                <div class="date">
                    <a href="{% url 'shelterbydogs' shelters.id %}">
                        Количество животных: {{ shelters.number_of_animals }}
                    </a>
                </div>
                <div class="date">
                    <p>Описание: {{ shelters.description }}</p>
                </div>
                <div class="date">
                    <p>Адрес: {{shelters.address}} д.</p>
                </div>
                <div class="date">
                    <p>Контакты: {{shelters.contacts}}</p>
                </div>
                <div class="date">
                    <a href="{% url 'helpforshelters'%}">
                        Контактное лицо: {{shelters.contact_person}}
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}