body{
       background-image: url(../images/snapedit_1696796426664.png);
       background-size: cover;
       background-repeat: no-repeat;
    }

#containerInf {
    background-color: rgba(236,148,75, 0.5);
    padding: 20px;
    border-radius: 10px
}

#nav{
    background-color: #9c674a;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: Courier, monospace;
    font-size: 20px;
    font-weight: bold;
}

#carousel{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


p{
    font-family: Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    color: #5c341e;
}

.name{
    font-family: Courier, monospace;
    font-size: 35px;
    font-weight: bold;
    color: #5c341e;
}

#borderCard{
    background-color: rgba(236,148,75, 0.5);
    border-color: #9c674a;
}

.button {
    background-color: #9c674a;
    color: #5c341e;
    padding: 10px 20px;
}

.button:hover {
    background-color: #d29369;
}

#dog-home{
    font-size: 35px;
}

#buttonPtiut{
    background-color: #d29369;
    color: #5c341e;
    padding: 10px 20px;
    width: 250px;
    height: 70px;
    font-family: Courier, monospace;
    font-size: 35px;
    font-weight: bold;
}

.date{
    background-color: rgba(236,148,75, 0.5);
    margin-bottom: 4px;
    padding: 10px;
    width: 500px;
    height: auto;
    border: 2px solid #9c674a;
    text-align: left;
    border-radius: 0.4em
}

.custom-border {
    border: 5px solid #9c674a;
    border-radius: 10px;
}

#div{
    line-height: 5; /* Установите желаемое значение, например, 1 для минимального интервала */
}

.fillterButton{
    background-color: #9c674a;
    color: #5c341e;
    width: 100px;
    height: 100px;

}

#nazvanie{
    font-family: Courier, monospace;
    font-size: 50px;
    font-weight: bold;
    color: #5c341e;
}

.nav-item:hover {
        background-color: #d29369; /* Цвет фона при наведении */
        border-radius: 5em;
}